<div>
  <div class="grid-x">
    <div class="small-12 cell">
      <form [formGroup]="editPageForm" (ngSubmit)="savePage()" *ngIf="!pending" class= "editor">
        <label class="label" > Youtube URL : 
        </label>
          <input type="text" placeholder="youtube url" value="youtube" formControlName="youtube" >
        <br>
        <label class="label" > Text Information :
        </label>
        <div style="margin:20px; margin-top:0px;">
        <ckeditor  formControlName="content" [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor>
        </div>
        <div class="manage-post"> 
        <button class="button">Save</button>
        <button class="button" routerLink="/ {{ slug }}">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
