<!-- <app-indented-tree-d3-to-ang-comp ></app-indented-tree-d3-to-ang-comp> -->
        <div class="pagemain">
            <div class="homeBody">
              <h5> {{ slug }} </h5> 
              <br><br> 
              <div *ngIf="youtube">
                <iframe width="100%" height="auto" id="video" [src]="youtube | safe: 'resourceUrl'">
                </iframe>
              </div>
              <br><br> 
              <markdown [data]="content" class="info"></markdown>
              <br><br> 
              <button *ngIf="!locked" class="button" [routerLink]="['/edit', slug]"  style="left: 50%;
                  position: relative;
                  transform: translateX(-50%);">Edit
              </button>
          </div>
      </div>
  